.footer-nav {
  padding: 0;
}

.footer-nav__item {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  text-transform: uppercase;
}

.footer-nav__item:not(:last-child) {
  margin: 0 0 20px;
}

.footer-nav__link {
  color: $baseBlack;
}


