.form__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.form__group {
  border: none;
  margin: 0 0 30px;
  font-size: 16px;
  line-height: 1.5;
  padding: 0;

  &--sorting {
    display: flex;
    margin: 0 8px 0;
    align-items: baseline;
    justify-content: center;
    position: relative;

    @media (min-width: $tablet-width) {
      justify-content: right;
    }
  }
}

.form__group-title {
  font-weight: 600;
  margin: 0 0 20px;
}

.form__button-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  max-width: 280px;
  gap: 20px;
  align-items: center;
  margin: 0 0 36px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 44px;
  }
}

.form__button {
  width: 280px;
  border: none;
  padding: 8px 20px;
  font-size: 16px;
  line-height: 1.5;

  @media (min-width: $tablet-width) {
    width: 120px
  }

  &--reset {
    background-color: $baseWhite;
    color: $basePrimary;

    &:hover,
    &:focus {
      color: $baseWhite;
    }

    &:active {
      color: $baseWhite;
    }

    &:disabled {
      background-color: $lightGrey;
      color: $baseWhite;
    }
  }
}

.form__group-title-sorting {
  float: left;
}
