.logo {
  display: flex;
  position: absolute;
  top: 20px;
  left: 40px;
  z-index: 1;
}

.logo__img {
  @media (min-width: $tablet-width) {
    width: 82px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
  }
}
